
/*** General *****************/
.nav1 a {
	text-decoration:underline;
}
.nav1 p, .nav1 h4{
	font-family:'titilliumregular',Arial, Helvetica, sans-serif;
}
.nav1 label{
	font-family:'exodemi_bold',Arial, Helvetica, sans-serif;
	line-height: 33px;
	font-size: 14px;
	text-transform:uppercase;
}
.nav1 p{
	font-size: 19px;
	line-height: 21px;
	text-align:justify;
}
.nav1 h4{
	font-size: 23px;
	letter-spacing:.1em;
}
.nav1 h6{
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-size:12px;
	line-height: 20px;
}
.nav1 i{
	display:block;
}

/*** .nav1 Class ************************/
.nav1{
	/*width: 550px;*/
	width:66.6%;
	margin: 20px auto;
	overflow:hidden;
	text-align: left;
	border:5px solid;
	
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}
.nav1 label{
	display: block;
	position: relative;
	padding: 5px 20px;
	/*height: 34px;*/
	font-size:20px;
	cursor: pointer;
	z-index: 20;
	
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,.5);
	-webkit-box-shadow: 0px 0px 0px 1px rgba(155,155,155,.5);
	-moz-box-shadow:0px 0px 0px 1px rgba(155,155,155,.5);
	
	transition:background-color .7s;
	-webkit-transition:background-color .7s;
	-moz-transition:background-color .7s;
	-o-transition:background-color .7s;
	-ms-transition:background-color .7s;
}
.nav1 label i{
	display:block;
	padding:3px 17px 0 0;
	font-size:20px;
}
.nav1 input{
	display: none;
}
.nav1 input:checked + label,
.nav1 input:checked + label:hover{
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,.3), 
		0px 2px 2px rgba(0,0,0,.1);
	-webkit-box-shadow:
		0px 0px 0px 1px rgba(155,155,155,.3), 
		0px 2px 2px rgba(0,0,0,.1);
	-moz-box-shadow:
		0px 0px 0px 1px rgba(155,155,155,.3), 
		0px 2px 2px rgba(0,0,0,.1);
}

/*** Right Icon ***/
.nav1 label i.i-right1,
.nav1 label i.i-right2{
	float:right;
	margin-right:15px;
	padding:6px 0 0 0;
	
	transition:all .7s;
	-webkit-transition:all .7s;
	-moz-transition:all .7s;
	-o-transition:all .7s;
	-ms-transition:all .7s;
}
.nav1 label i.i-right2{
	display:none;
}

/*** .content Class *********************/
.content{
	position: relative;
	/*height: 240px;*/
	margin-top: -1px;
	overflow:hidden;
	z-index: 10;
}
.content p{
	padding: 2px 15px 5px 10px;
	margin-left:15px;
	border-left:10px solid;
}
.content h4{
	padding:8px 0 7px 15px;
}
.content h6{
	padding:8px 15px 10px 15px;
	margin:10px;
	
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}
.content h6 i{
	padding:0 5px;
	font-size:10px;
}
.nav1 input:checked ~ div.content{	
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
	-webkit-box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
	-moz-box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

/*** For Change Animation Effects ****/
.nav1 input:checked ~ .content p{       
	-webkit-animation: zoomIn .7s 1;
	animation: zoomIn .7s 1;
}
.nav1 input:checked ~ .content h6{       
	-webkit-animation: fadeIn 2s 1;
	animation: fadeIn 2s 1;
}

/* nav1 */
.nav1 a,.nav1 h4, .nav1 p{
	color: #777777;
}
.nav1{                             
	border-color: #00BFFF;              /*Main Color*/
}
.nav1 label{                       
	background-color:#00BFFF;           /*Main Color*/
	color:#3B4E58;
}
.nav1 label:hover{                 
	background: #BCBCBC;                /*Light Gray*/
	color:#FFFFFF;
}
.nav1 input:checked + label,
.nav1 input:checked + label:hover{ 
	background: #6F6F6F;                /*Dark Gray*/
	color:#FFFFFF;
}

/* Content */
.content{
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #ffffff 0%,#e5e5e5 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.content h6{                           /*Main Color*/
	color:#333333;
	background-color:rgba(0, 191, 255, .5);
}
.content p{                           
	border-color: #00BFFF;             /*Main Color*/
}